.header {
    display: flex;
    margin-bottom: -3.75rem;
    height: 4rem;
    background: url("../image/pattern.png");
    border-bottom: 0.25rem solid cornflowerblue;
    z-index: 2;
}

.header-title {
    color: cornflowerblue;
    text-align: center;
    margin-left: 10rem;
    font-family: "Novecento Wide";
    font-size: 30px;
    padding: 10px 0;
}

.menu-container {
    float: right;
    position: absolute;
    right: 8%;
    display: flex
}

#nav {
    padding: 0.5rem 0;
    /* list-style: none; */
    display: inline-block;
    text-align: center;
}

#nav li {
    display: inline;
    font-family: "Noto Sans SC";
    font-size: 1rem;
    padding: 0.5rem 0;
}

.menu-element {
    margin: auto 2rem;
}

.nav-li-home {
    list-style: image(url("../icon/home.png"));
    border-bottom: 2px solid cornflowerblue;
    color: cornflowerblue
}

.nav-li-github {
    list-style-image: url("../icon/github-fill.svg");
}

.nav-li-github:hover {
    border-bottom: 2px solid purple;
    transform: translate(-50%, 0);
}

.nav-li-contact:hover {
    border-bottom: 2px solid #99dd89;
    transform: translate(-50%, 0);
}

.nav-li-about:hover {
    border-bottom: 2px solid #40a8e4;
    transform: translate(-50%, 0);
}

ul#nav li {
    list-style-image: url("icon/home.png");
}