.header {
    display: flex;
    margin-bottom: -60px;
    height: 60px;
    background-color: #fff;
    border-bottom: 3px solid cornflowerblue;
    z-index: 2;
}

.header-title {
    color: cornflowerblue;
    text-align: center;
    margin-left: 15%;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    padding: 10px 0;
}

.menu-container {
    float: right;
    position: absolute;
    right: 8%;
    display: flex
}

#nav {
    padding: 20px 0;
    /* list-style: none; */
    display: inline-block;
    text-align: center;
}

#nav li {
    display: inline;
    font-family: "Noto Sans SC";
    padding: 2px 0;
}

.nav-li-home {
    background: url("../icon/home.png") no-repeat;
    border-bottom: 2px solid cornflowerblue;
    color: cornflowerblue
}

.nav-li-github {
    background: url("icon/github-fill.svg") no-repeat;
}

.nav-li-github:hover {
    border-bottom: 2px solid purple;
    transform: translate(-50%, 0);
}

.nav-li-contact:hover {
    border-bottom: 2px solid #99dd89;
    transform: translate(-50%, 0);
}

.nav-li-about:hover {
    border-bottom: 2px solid #40a8e4;
    transform: translate(-50%, 0);
}

ul#nav li {
    list-style-image: url("icon/home.png");
}