a {
    text-decoration: none;
    color: #02B7F7;
}

html,
body {
    height: 100%;
    background: url("../image/pattern.png");
}

.wrap {
    min-height: 100%;
}

.main {
    padding-top: 60px;
    padding-bottom: 50px;
}

body {
    background-color: #f9f9f9;
}