.title-container {
    height: 40rem;
    text-align: center;
    background: url("../image/banner.png");
    border-radius: 2rem;
    border-bottom: 3px solid #fa75b8;
}

.main-title {
    padding: 18rem 0;
    color: #f9f9f9;
    font-family: "Novecento Wide";
    font-size: 4rem;
}